@import './variables.scss';

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin systemName {
    font-size: 60px;
    font-family: 'zzgf';
    color: $hight-fColor;
    letter-spacing: 20px;
    white-space: nowrap;
    font-weight: bold;
}
