$sml-size: 12px;
$con-size: 15px;
$title-size: 18px;
$htitle-size: 26px;
// 主要字体颜色
$font-color: #1a1a1a;
// 高亮字体颜色
$hight-fColor: #0084ff;
// 深一点的颜色
$dark-fColor: #0077e6;
// 鼠标划过字体颜色
$hover-fColor: #175199;
// 背景颜色
$bg-color: #f6f6f6;
// 主页面内容背景颜色
$card-bgcolor: #fff;
/** 主色系 **/
$focus-color: rgba(0, 242, 184, 1);
$main-color: rgba(162, 238, 255, 1);