@import '../variables.scss';

.el-button--primary {
    background: $hight-fColor;
    border-color: $hight-fColor;
}

.el-button--primary:hover, .el-button--primary:focus {
    background: $dark-fColor;
    border-color: $dark-fColor;
}

.el-dropdown {
  height: 45px;
}

.my-autocomplete {
    cursor: pointer;
    li {
      line-height: normal;
      padding: 7px;
  
      .name {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }